/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

html {
  font-family: sans-serif;
}
body {
  background: floralwhite;
}

hr{
	margin-top:50px;
}
#portrait{
    border-radius:50% 50% 50% 50%;
    width:150px;
    height:150px;
}
.img{
    width:150px;
    height:150px;
	float:left;
}

ul{
	list-style-type:none;
	padding-top:70px;
	
	
}
li{
	float:right;
}

a.nav:link{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FA8258;
	text-align:center;
	padding:5px;
	text-decoration:none;
	text-transform:uppercase;
}

a.nav:hover,a.nav:active{
	background-color:#F6CECE;
}
h1{
	font-size:12;
	color:black;
	text-align:center;
	padding-top:100px;
}
h2{
	font-size:9;
	color:black;
	text-align:center;
	
}

p{
	text-align:center;
}

.icon{
	text-align:center;
}
#facebook{
    width:50px;
    height:50px;

}
#linkedin{
    width:50px;
    height:50px;

}
#github{
    width:50px;
    height:50px;

}
.lang{
	text-align:center;
	margin-top:100px;
}

/*--//End--*/
