
	   
	  
 	   <center>
	    <div class="contact">
	       <p>Email:caocasey@gmail.com</p> 
		   <p>Telephone:+33(0) 6 33 20 09 77</p> 
		   <p>Yingxi CAO</p>
		   <p>ECE Paris – Ecole d’Ingénieurs / ECE Paris – Graduate School of Engineering</p>
	    </div>
		
 	    <div class="icon">
      
             <a href="https://www.facebook.com/casey.cao.18"><img id='facebook' src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png'/></a>
 	        <a href="http://fr.linkedin.com/pub/yingxi-cao/61/4b5/aa9"><img id='linkedin' src='http://www.thegrowthdriver.com/wp-content/uploads/2014/06/LinkedIn_Icon.png'/></a>
 			<a href="https://github.com/caocasey"><img id='github' src='https://assets-cdn.github.com/images/modules/logos_page/Octocat.png'/></a>
					   
 	    </div>
		
        </center>
		
		
		
		
		
		
		
		