<head>
        <div>
           <div class="img">
                   <a1 href="http://fr.linkedin.com/pub/yingxi-cao/61/4b5/aa9"><img id='portrait' src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALKAAAAJDRlODFkMzNmLTEyZjktNGFhNC04NDkzLWY3ODRlZjdmNjcwMw.jpg'/></a>
                                
			</div>	   
	
	
                    	<ul class="navi">
                        	<li><a class="nav" href="/welcome/index">About </a></li>
							<li><a class="nav" href="/welcome/Contact">Contact</a></li>
							<li><a class="nav" href="/welcome/CV">CV </a></li>
							<li><a class="nav" href="/welcome/Projects">Projects </a></li>
							<li><a class="nav" href="/welcome/Experience">Experience</a></li>
                        	<li><a class="nav" href="/welcome/Education">Education </a></li>                       	
                    	</ul>	
       </div>
	   
	      <hr class="indx"/>  
</head>

<div class="te">
<center>
<table border="1" style="width:70%">
 <capital>Education</capital>
  <tr>
    <td><div>
			<a1 href="http://www.ece.fr/school-of-engineering/"><img src="http://apres-bac-s.com/static/upload//images/scientifique/news/ECE.jpg" width="250" height="100"/></a></td>
    <td>
		<div>	
				<h8>
				Master degree&Engineer degree: 2012 – 2014
				</h>

					<ul style="list-style-type:disc"> 
					<li>ECE Paris-Graduate School of Engineering <br>-Telecommunications and Networks as Master of Science.</br></li>
					<br></br>
					<li>Location: Paris (Ile-de-France, France).</li>
					  </ul>
			
		</div>
    </td>		

  </tr>
  <tr>
    <td><div>
			<a1 href="http://unex.uci.edu/"><img src="http://www.first-study.com/wp-content/uploads/2015/03/UCI-seal-3.jpg" width="250" height="100"/></a></td>
    <td>
		<div >	
				<h8>
				<strong>Exchange program: August 2013</strong>
				</h>

					<ul style="list-style-type:disc"> 
					<li>University of California, Irvine- Management and Manufacturing training.</li>
					<li>Location: Irvine, United state.</li>
					  </ul>
			
		</div>
    	
    </td>		

  </tr>
  <tr>
    <td><div>
			<a1 href="http://english.bjut.edu.cn/"><img src="http://www.university-directory.eu/instlogos/CN-Beijing-University-of-Technology.jpg" width="250" height="100"/></a></td>
    <td>
		<div>	
				<h8>
				<strong>Bachelor degree: 2009 – 2012</strong>
				</h>

					<ul style="list-style-type:disc"> 
					<li>Beijing University of Technology- Computer Science and Technology</li>
					<li>Location: Beijing, China.</li>
					  </ul>
			
		</div>
    </td>		

  </tr>
</table>
</center>
</div>