

<div class="te">
<center>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education</h4>
		<table width="1200" border="0">
			  <tr>
			    <td>
			    	<div class="ed_img">
			    	<img style="border-radius:50%;width: 260px; height: 260px; " src="/assets/bjut.png" alt="" />
			    	</div>
				</td>
			    <td>
			        <div class="ed_img">
					<img style="border-radius:50%;width: 260px; height: 260px; " src="/assets/ece.png" alt="" />
					</div>
			    </td>
			    <td>
			    	<div class="ed_img">
					<img style="border-radius:50%;width: 260px; height: 260px; " src="/assets/uci.jpg" alt="" />
					</div>
			    </td>
			  </tr>
			  <tr>
			    <td>
			    	<div class="ed_text">
						<h2>Beijing University of Technology</h2>
					</div>
				</td>
			    <td>
			    	<div class="ed_text">
						<h2>ECE Paris</br>(Ecole Centrale d'Electronique de Paris)</h2>
					</div>
			    </td>

			    <td>
			    	<div class="ed_text">
						<h2>UCI extention</h2>
					</div>
			    </td>
			  </tr>
			  <tr>
			    <td>
			    	<div class="ed_textp">
			    	<p>		
			    			Bachelor degree: 2009 – 2012<br/>
		                    Major: Computer Science and Technology<br/>
		                    4 consective year's Learning Merit Scholarship winner.<br/>
		                    Location: Beijing, China.
					</p>
				</div>
			    </td>
			    <td>
			    	<div class="ed_textp">
					<p>
							 Master degree&Engineer degree: 2012 – 2014</br>
		                     ECE Paris-Graduate School of Engineering</br>
							 Diplôme d'ingénieur as Master of Science.</br>
		                     Major: Telecommunications and Networks</br>
							 Location: Paris (Ile-de-France, France).
					</p>
					</div>
			    </td>
			    <td>
			    	<div class="ed_textp">
					<p>
							 Exchange program: August 2013</br>
							 University of California, Irvine extention</br> 
		                     Training: Management and Manufacturing</br>
		                     Location: Irvine, United State.
					</p>
				</div>

			    </td>
			  </tr>
		</table>


</div>  