<div class="te">
<center>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience</h4>
<table width="1000" border="0">
  <tr>
    <td><img id='ex_img' src="/assets/unesco.jpg" /></td>
    <td><img id='ex_img' src="/assets/psa.jpg" /></td>
    <td><img id='ex_img' src="/assets/sherpa.jpg" /></td>
    <td><img id='ex_img' src="/assets/orange.jpg" /></td>
  </tr>
  <tr>
    <td style="background-color:#FFCDD2"><h><strong><center>May.2013- Jul.2013</center></strong></h><br><h><center>Paris, France</center></h></td>
    <td style="background-color:#E57373"><h><strong><center>Mar.2014- Aug.2014</center></strong></h><br><h><center>Vélizy, France</center></h></td>
    <td style="background-color:#E57373"><h><strong><center>Oct.2014- Dec.2014</center></strong></h><br><h><center>La Garenne-Colombes, France</center></h></td>
    <td style="background-color:#FFCDD2"><h><strong><center>Jul.2016-recent</center></strong></h><br><h><center>Beijing, China</center></h></td>
  </tr>
  <tr>
    <td valign="top" style="background-color:#E57373">
		  <ul > 
			<li>Technical internship in UNESCO, HQ (ERI/DPI):
			  <ul>
			    <li>Mission: Develop and ameliorate functions of UNESCO website by Drupal.
			      <ul>
			        <li>Ameliorate the function of UNESCO menu by using ‘nice menu’.</li>
			        <li>Create infrastructure for “projects” and “partners”.</li>
			        <li>Develop Facebook applications.</li>
			        <li>Technics used: HTML, PHP, Javascript, css, zen, sass, XML, Drupal, Facebook API, YOUTUBE API.</li>
		          </ul>
			    </li>
			    <li>Location: Paris (Ile-de-France, France).</li>
			  </ul>
			</li>
		  </ul>
    </td>
    <td valign="top" style="background-color:#EF9A9A">
		  <ul> 
			<li>Technical internship in PSA PEUGEOT CITROËN, VVB (EPCT/ADTH):
			  <ul>
			    <li>Mission: Integrating air conditioning modules and design user interface 
			      <ul>
			        <li>Design test protocols for evaluation all modules.</li>
			        <li>Modify Matlab script for optimizing user interface (UI).</li>
			        <li>Models utilized: Engine model, Model of the cockpit, Consumption model.</li>
			        <li>Development environment: Matlab Simulator, Excel.</li>
		          </ul>
			    </li>
			    <li>Location: Vélizy (Ile-de-France, France).</li>
			  </ul>
			</li>
		  </ul>

    </td>
    <td valign="top" style="background-color:#EF9A9A">
 		  <ul> 
			<li>Design and Development Engineer in Sherpa Engineering R&D department:
			  <ul>
			    <li>Mission: Continue the mission in PSA, improve modules and user interface using Matlab. 
			      <ul>
			        <li>improve models function</li>
			        <li>optimizing user interface (UI).</li>
			        <li>Establish test database</li>
			        <li>Development environment: Matlab Simulator, Excel.</li>
		          </ul>
			    </li>
			    <li>Location: La Garenne-Colombes, Vélizy (Ile-de-France, France).</li>
			  </ul>
			</li>
		  </ul>

    </td>
    <td valign="top" style="background-color:#E57373"> 
		  <ul> 
			<li>Engineer in France Telecom-Orange Beijing Lab(NPIT):
			  <ul>
			    <li>Mission:Research and design work of smart city app  
			      <ul>
			        <li>Research of smart city application</li>
			        <li>Development of web dashborad for data analysis</li>
			        <li>Research of Fiware</li>
			        <li>Development languages and tool: HTML, JS, CSS, prezi, Fiware</li>
		          </ul>
			    </li>
			    <li>Location: Beijing, China</li>
			  </ul>
			</li>
		  </ul>





    </td>
  </tr>
</table>

</center>



</div>