


<div class="te">
<center>
<table border="1" style="width:70%">
	<caption>Working Experience</caption>
  <tr>
    <td>
		<div><h3><span>
		Internship in PSA PEUGEOT CITROËN</span></h>
		</div>

		<div class="exp">	
		<h8>
		<strong>Mar.2014- Aug.2014</strong>
		</h>
		  <ul style="list-style-type:disc"> 
			<li>Technical internship in PSA PEUGEOT CITROËN, VVB (EPCT/ADTH):
			  <ul>
			    <li>Mission: Integrating air conditioning modules and design user interface 
			      <ul>
			        <li>Design test protocols for evaluation all modules.</li>
			        <li>Modify Matlab script for optimizing user interface (UI).</li>
			        <li>Models utilized: Engine model, Model of the cockpit, Consumption model.</li>
			        <li>Development environment: Matlab Simulator, Excel.</li>
		          </ul>
			    </li>
			    <li>Location: Vélizy (Ile-de-France, France).</li>
			  </ul>
			</li>
		  </ul>
		</div>
    </td>
    <td>
		<div class="psa">
			<a1 href="http://www.psa-peugeot-citroen.com/en"><img id='psa' src='https://uopcharnes.files.wordpress.com/2012/07/logo-psa.jpg'/></a>
		</div>
    </td> 
  </tr>
  <tr>
    <td>
		<div class="excep"><h3><span>
			Internship in UNESCO</span></h>	
		</div>

		<div class="exp">	
		<h8>
		<strong>May.2013- Jul.2013</strong>
		</h>

			<ul style="list-style-type:disc"> 
			<li>Technical internship in UNESCO, HQ (ERI/DPI):
			  <ul>
			    <li>Mission: Develop and ameliorate functions of UNESCO website by Drupal.
			      <ul>
			        <li>Ameliorate the function of UNESCO menu by using ‘nice menu’.</li>
			        <li>Create infrastructure for “projects” and “partners”.</li>
			        <li>Develop Facebook applications.</li>
			        <li>Technics used: HTML, PHP, Javascript, css, zen, sass, XML, Drupal, Facebook API, YOUTUBE API.</li>
		          </ul>
			    </li>
			    <li>Location: Paris (Ile-de-France, France).</li>
			  </ul>
			</li>
			</ul>
		</div>
    	
    </td>
    <td>

		<div>
			<a1 href="http://www.unesco.org/new/en"><img src="/assets/unesco.png" width="180" height="300"/></a>
		</div>
    	
    </td> 
  </tr>
</table>
</center>
</div>
