
<!--This is the biography-->	   
	   <div>
		   	<h1 class="about">About me</h1>
		   	<div>
		   		<center>
		   		<table width="1200"  border="0">
				  <tr>
				    <td  id="intro">
						<h2>Howdy,</h2>
						<p>This is Yingxi:) </p>
						<p>
							An innovative, passionate and hard working girl. When encounter difficulties I will not easily give up. I always come up with new ideas and have strong ability to learn novel techniques. I usually spend my spare time with violin and also go to swim to fresh my mind.
							A new day begin when the sun rises, I am a positive and optimistic person, I do have confidence with my future.
						</p>
						<div>
							<img id="interest" src="/assets/interest.png" alt="" />
						</div>
						<p class="p1">I am also a graduate student from graduate school of engineer-ECE Paris
				   		   (école centerale d'électronique à Pairs), where I completed my master 
				   		   degree in telecommunications and network. Also, I had my bachelor degree 
						   in computer science and technology in Beijing University of technology. 
						   My varies of experiences allow me to have a broder horizen and enlarge my
						   research area in the future, however my major interests are focus on computer 
						   networking and applications development.</p> 
				    </td>
				  </tr>
				</table>
			</div>
		   	


			<div class="icon">
			
				<a href="https://fr.linkedin.com/in/yingxi-cao-aa94b561"><img style="border-radius:50%;width: 50px; height: 50px; " src="/assets/linkedin.jpg" alt="" /></a></li>
				<a href="https://www.facebook.com/casey.cao.18"><img style="border-radius:50%;width: 50px; height: 50px; " src="/assets/facebook.jpg" alt="" /></a></li>
				<a href="https://github.com/caocasey"><img style="border-radius:50%;width: 50px; height: 50px; " src="/assets/git.png" alt="" /></a></li>
				<a href="https://twitter.com/caocasey"><img style="border-radius:50%;width: 50px; height: 50px; " src="/assets/twitter.jpg" alt="" /></a></li>
			</div>

					   
	   </div>





