<div class="te">
	<div id="box">
		<ul id="tab_nav">
		<li><a href="#t_1">Game</a></li>
		<li><a href="#t_2">Web Service</a></li>
		<li><a href="#t_3">Mobile app</a></li>
		</ul>
	<div id="tab_content">
	<div id="t_1">
			<h3>Game Design&Computer graphics</h3>
			<p>Create a FPS game with NeoAxis open source game engine. I am the team leader of a 6 people's group.</p>
			<img src="/assets/game1.jpg" width="200" height="200"/>
			<img src="/assets/game2.jpg" width="200" height="200"/>
			<img src="/assets/game3.jpg" width="200" height="200"/>
			<p>Works of computer graphics.</p>
			<img src="/assets/lanterne.jpg" width="200" height="200"/>
			<img src="/assets/gra.gif" width="200" height="200"/>
			<img src="/assets/color.jpg" width="200" height="200"/>
	</div>
	<div id="t_2">
			<h3>Morden shopping system</h3>
			<div>
				<ul style="list-style-type:disc"> 
				<h>Founded Start-up named Tag and Try:</h>
				  <ul>
				    <li>Mission: Create a new Self-shopping pattern, which enable people to shopping by using just a simple mobile application, Tag (scan item)->Try->pay. My mission is about to develop a ruby on rails based server in order to establish a Communication bridge between the server and other applications.
				        <li>Design UML class and activity diagrams and create an SQLite database for this project.</li>
				        <li>Design the ruby on rails based server. </li>
				        <li>Deplore the server on cloud (GIT,Heroku), migrate SQLite to Postgres database.</li>
				        <li>Technics utilized: Ruby on Rail, NFC, BarCode, PhoneGap.</li>
			          </ul>
				    </li>
				    <h>Location: Paris (Ile-de-France, France).</h>
				  </ul>
				</li>
				</ul>
			</div>
			<img src="/assets/pfe1.png" width="430" height="430"/>
			<img src="/assets/pfe2.png" width="430" height="430"/>
			<p>if you want further information, please</p><a href="/welcome/startup">click here.</a> 
	</div>
	<div id="t_3">
			<h3>Voice recognition Android application</h3>
						<div>
							<ul style="list-style-type:disc"> 
							<li>Switch television channel by human voice.
							  <ul>
							    <li>Mission: Change TV channels by voice commands. My mission is about to develop an Android app in collaboration with Bouygues Telecom.
							        <li>Developing a system to transfer voice messages to text using google API.</li>
							        <li>Connect Smartphone with Bbox (TV controller) by a server.</li>
							        <li>Technics utilised: Java, Google API.</li>
						          </ul>
							    </li>
							    <li>Location: Paris (Ile-de-France, France).</li>
							  </ul>
							</li>
							</ul>
						</div>
						<img src="/assets/ppe1.png" width="430" height="430"/>
						<img src="/assets/ppe2.png" width="430" height="430"/>



	</div>
	</div>





</div>

<div>


