<!DOCTYPE html>
<html>
<head>
  <title>Yingxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <div class="main">
             	 <div class="img">
                     <a1 href="http://fr.linkedin.com/pub/yingxi-cao/61/4b5/aa9"><img id='portrait' src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALKAAAAJDRlODFkMzNmLTEyZjktNGFhNC04NDkzLWY3ODRlZjdmNjcwMw.jpg'/></a>
  </div>
    <div class="name">
    <h1>Yingxi CAO</h1>
   	</div>
                                
  </div>	   
  <div class="navit">
                      <ul class="navi">
                          <li><a class="nav" href="/welcome/index">About </a></li>
						  <li><a class="nav" href="/welcome/Education">Education </a></li>  
						  <li><a class="nav" href="/welcome/Experience">Experience</a></li>
						  <li><a class="nav" href="/welcome/Projects">Projects </a></li>
						  <li><a class="nav" href="/welcome/CV">CV </a></li>
						  <li><a class="nav" href="/welcome/Contact">Contact</a></li>
               <li><a class="nav" href="/welcome/video">Video</a></li>                                
                      </ul>
  </div>
  
</head>
<body>

<%= yield %>


</body>
<footer>
<p>© 2016 Yingxi CAO  <a href="mailto:caocasey@gmail.com">
  caocasey@gmail.com</a></p>
</footer>
</html>
